{% extends "base/base.html" %}

{% block head %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen, projection"
          href="/static/css/blueprint/screen.css" />
    <link rel="stylesheet" type="text/css" media="print"
          href="/static/css/blueprint/print.css" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" media="screen, projection"
          href="/static/css/blueprint/ie.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css"
          href="/static/css/ui-lightness/jquery-ui-1.8.9.custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    {% block css %}{% endblock css %}
    <!-- JavaScript -->
    <script type="text/javascript"
            src="/static/js/jquery-1.5.min.js"></script>
    <script type="text/javascript"
            src="/static/js/jquery-ui-1.8.9.custom.min.js"></script>
    {% block js %}{% endblock js %}
{% endblock head %}
