#menu {
    width: 200px;
    margin: 10px;
    float: left;
    position: fixed;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li a {
    height: 32px;
    voice-family: "\"}\"" inherit;
    height: 24px;
    text-decoration: none;
}
#menu li a:link, #menu li a:visited {
    color: #fff;
    display: block;
    background: url(/static/menu/menu.gif) 0 -32px;
    padding: 8px 0 0 10px;
}
#menu li a:hover {
    color: #333;
    background: url(/static/menu/menu.gif);
    padding: 8px 0 0 10px;
}

#menu li.title {
    color: #e38124;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-shadow: black 1px 1px;
    display: block;
    background: url(/static/menu/menu.gif);
    height: 24px;
    padding: 8px 0 0 10px;
    display: block;
}

