{% comment %}

#TODO: display menu

Expected context:
    - feeds_list (list of all Feed objects)

{% endcomment %}

<script type="text/javascript" src="/static/js/feeds_list.js"></script>

{% if feeds_list %}
    <a href="#" class="button" id="show_all" onclick="blurButton(this)"><span>Show all posts</span></a>
    <a href="#" class="button" id="show_unread" onclick="blurButton(this)"><span>Show only unread posts</span></a>
    <br />
    {% for feed in feeds_list %}
        <hr>
        <h2>
            {% if feed.favicon %}
                <img src="{{ feed.favicon }}" />
            {% endif %}
            <a href="{{ feed.url }}" target="_blank">{{ feed.title }}</a>
        </h2>
        {% if feed.description %}{{ feed.description }}{% endif %}
        {% include "feeds/posts_list.html" %}
        <hr>
    {% endfor %}
{% endif %}
