{% comment %}

Expected context:
    - sections_list (list of all Section objects)
    - feeds_list (list of all Feed objects)

{% endcomment %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/menu/menu.css" />
{% endblock %}
<div id="menu">
    <ul>
        <li><a href="/"><em>---------- FeedMe ----------</em></a></li>
        <li><a href="/update/">Update Feeds</a></li>

        {% if sections_list|length > 0 %}
            <li class="title">SECTIONS</li>
            {% for section in sections_list %}
                <li><a href="/section/{{ section.id }}">{{ section.name }}</a></li>
            {% endfor %}
        {% endif %}

        {% if feeds_list|length > 0 %}
            <li class="title">FEEDS</li>
            {% for feed in feeds_list %}
                <li><a href="/feed/{{ feed.id }}">{{ feed.title }}</a></li>
            {% endfor %}
        {% endif %}

        {% comment %}
        <li class="title">SETTINGS</li>
        {% endcomment %}

    </ul>
</div>
