{% extends 'feeds/base.html' %}

{% block body %}
    {% include "feeds/menu.html" %}
    <div id="content">
        <h1>{{ section.name }}</h1>
        {% if feeds_list %}
            {% for feed in feeds_list %}
                <h3>
                {% if feed.favicon %}
                    <img src="{{ feed.favicon }}" />
                {% endif %}
                <a href="/feed/{{ feed.id }}">{{ feed.title }}</a>
                </h3>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
